<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemExpiryDate</key>
		<string>7-8-2017</string>
		<key>itemPackedDate</key>
		<string>7-5-2017</string>
		<key>itemQuantity</key>
		<integer>3</integer>
		<key>itemImage</key>
		<string>apple</string>
		<key>itemid</key>
		<string>1</string>
		<key>itemAmount</key>
		<integer>120</integer>
		<key>itemCountry</key>
		<string>IN</string>
		<key>itemCurrency</key>
		<string>INR</string>
		<key>itemTitle</key>
		<string>Apple</string>
	</dict>
	<dict>
		<key>itemExpiryDate</key>
		<string>7-8-2017</string>
		<key>itemPackedDate</key>
		<string>7-5-2017</string>
		<key>itemQuantity</key>
		<integer>2</integer>
		<key>itemImage</key>
		<string>watermelon</string>
		<key>itemid</key>
		<string>2</string>
		<key>itemAmount</key>
		<integer>70</integer>
		<key>itemCountry</key>
		<string>IN</string>
		<key>itemCurrency</key>
		<string>INR</string>
		<key>itemTitle</key>
		<string>Watermelon</string>
	</dict>
	<dict>
		<key>itemExpiryDate</key>
		<string>7-8-2017</string>
		<key>itemPackedDate</key>
		<string>7-5-2017</string>
		<key>itemQuantity</key>
		<integer>2</integer>
		<key>itemImage</key>
		<string>orange</string>
		<key>itemid</key>
		<string>3</string>
		<key>itemAmount</key>
		<integer>70</integer>
		<key>itemCountry</key>
		<string>IN</string>
		<key>itemCurrency</key>
		<string>INR</string>
		<key>itemTitle</key>
		<string>Orange</string>
	</dict>
	<dict>
		<key>itemExpiryDate</key>
		<string>7-8-2017</string>
		<key>itemPackedDate</key>
		<string>7-5-2017</string>
		<key>itemQuantity</key>
		<integer>3</integer>
		<key>itemImage</key>
		<string>pineapple</string>
		<key>itemid</key>
		<string>4</string>
		<key>itemAmount</key>
		<integer>70</integer>
		<key>itemCountry</key>
		<string>IN</string>
		<key>itemCurrency</key>
		<string>INR</string>
		<key>itemTitle</key>
		<string>Pineapple</string>
	</dict>
	<dict>
		<key>itemExpiryDate</key>
		<string>7-8-2017</string>
		<key>itemPackedDate</key>
		<string>7-5-2017</string>
		<key>itemQuantity</key>
		<integer>2</integer>
		<key>itemImage</key>
		<string>grapes</string>
		<key>itemid</key>
		<string>5</string>
		<key>itemAmount</key>
		<integer>67</integer>
		<key>itemCountry</key>
		<string>IN</string>
		<key>itemCurrency</key>
		<string>INR</string>
		<key>itemTitle</key>
		<string>Grapes (in kg)</string>
	</dict>
</array>
</plist>
